<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SprintPlanner.WpfApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SprintPlanner.WpfApp.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StoryPointsField" serializeAs="String">
                <value />
            </setting>
            <setting name="SprintDataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AppcastUrl" serializeAs="String">
                <value>https://github.com/remusp/SprintPlanner/raw/master/AppCast.xml</value>
            </setting>
            <setting name="STATUS_DONE" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ISSUETYPE_DEV" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ISSUETYPE_QA" serializeAs="String">
                <value>13</value>
            </setting>
        </SprintPlanner.WpfApp.Settings>
    </userSettings>
</configuration>